<?xml version="1.0" encoding="utf-8"?>
<!--AUTO GENERATED MANIFEST FILE FROM AndroidManifestGenerator. DONT MODIFY HERE.-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.voxelbusters.androidnativeplugin" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="26" />
  <application>
    <!--Billing : Activity used for purchase view-->
    <activity android:name="com.voxelbusters.nativeplugins.features.billing.serviceprovider.google.GoogleBillingActivity" android:theme="@style/FloatingActivityTheme" />
    <!--MediaLibrary : Generic helper activity-->
    <activity android:name="com.voxelbusters.nativeplugins.features.medialibrary.MediaLibraryActivity" android:theme="@style/FloatingActivityTheme" android:screenOrientation="sensor" android:configChanges="keyboardHidden|orientation|screenSize" />
    <!--MediaLibrary : Used for Launching video from gallery-->
    <activity android:name="com.voxelbusters.nativeplugins.features.medialibrary.GalleryVideoLauncherActivity" android:theme="@style/FloatingActivityTheme" android:screenOrientation="sensor" />
    <!--MediaLibrary : Youtube player activity-->
    <activity android:name="com.voxelbusters.nativeplugins.features.medialibrary.YoutubePlayerActivity" />
    <!--Application Launcher - Notifications : Used as a proxy to capture triggered notification.-->
    <activity android:name="com.voxelbusters.nativeplugins.features.notification.core.ApplicationLauncherFromNotification" android:theme="@style/FloatingActivityTheme" android:exported="true" />
    <!--SocialNetworking - Twitter : Generic helper activity-->
    <activity android:name="com.voxelbusters.nativeplugins.features.socialnetwork.twitter.TwitterHelperActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Game Play Services helper activity-->
    <activity android:name="com.voxelbusters.nativeplugins.features.gameservices.serviceprovider.google.GooglePlayGameUIActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Sharing-->
    <activity android:name="com.voxelbusters.nativeplugins.features.sharing.SharingActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Webview : For File Choosing-->
    <activity android:name="com.voxelbusters.nativeplugins.features.webview.FileChooserActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Webview : For showing full screen webview's in a different new activity-->
    <activity android:name="com.voxelbusters.nativeplugins.features.webview.WebviewActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Media Library : For custom camera access-->
    <activity android:name="com.voxelbusters.nativeplugins.features.medialibrary.CameraActivity" android:theme="@style/FloatingActivityTheme" />
    <!--UI  : Generic helper activity for launching Dialogs-->
    <activity android:name="com.voxelbusters.nativeplugins.features.ui.UiActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Game Play Services helper activity-->
    <activity android:name="com.voxelbusters.nativeplugins.helpers.PermissionRequestActivity" android:theme="@style/FloatingActivityTheme" />
    <!--Custom File Provider. Sharing from internal folders  "com.voxelbusters.nativeplugins.extensions.FileProviderExtended"-->
    <provider android:name="com.voxelbusters.nativeplugins.extensions.FileProviderExtended" android:authorities="com.voxelbusters.nativepluginsdemo.fileprovider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/nativeplugins_file_paths" />
    </provider>
    <!--Billing : Amazon Billing Receiver-->
    <receiver android:name="com.amazon.device.iap.ResponseReceiver">
      <intent-filter>
        <action android:name="com.amazon.inapp.purchasing.NOTIFY" android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY" />
      </intent-filter>
    </receiver>
    <!--Notifications : Receiver for alarm to help Local Notifications-->
    <receiver android:name="com.voxelbusters.nativeplugins.features.notification.core.AlarmEventReceiver" />
    <!--Notifications : Firebase Cloud Messaging Service-->
    <service android:name="com.voxelbusters.nativeplugins.features.notification.serviceprovider.fcm.FCMMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="\u003893757878307" />
    <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_stat_ic_notification" />
    <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorAccent" />
  </application>
  <!--Permissions-->
  <!--Address Book-->
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <!--Network Connectivity-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!--Billing-->
  <uses-permission android:name="com.android.vending.BILLING" />
  <!--Media Library-->
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
  <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <!--Notifications : If vibration is required for notification-->
  <uses-permission android:name="android.permission.VIBRATE" />
  <!--GameServices : For getting content provider access.-->
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
  <!--Webview - Uses for file uploading from camera-->
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <!--Notifications : Badge Permission for Samsung Devices-->
  <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
  <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
  <!--Notifications : Badge Permission for HTC Devices-->
  <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
  <!--Notifications : Badge Permission for Sony Devices-->
  <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
  <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
  <!--Notifications : Badge Permission for Apex Devices-->
  <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
  <!--Notifications : Badge Permission for Solid Devices-->
  <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
  <!--Notifications : Badge Permission for Huawei Devices-->
  <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
  <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
  <!--Notifications : Badge Permission for ZUK Devices-->
  <uses-permission android:name="android.permission.READ_APP_BADGE" />
  <!--Notifications : Badge Permission for Oppo Devices-->
  <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
  <!--Notifications : Badge Permission for EverythingMe Support-->
  <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
  <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />
  <!--Required for internet access-->
  <uses-permission android:name="android.permission.INTERNET" />
  <!--For Saving to external directory - Save to Gallery Feature in MediaLibrary-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>